<ion-header>
    <ion-toolbar>
        <ion-title>User Details</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/users"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="user">
    <ion-item>
        <ion-text>
            {{ user.firstname }} {{ user.lastname }}
        </ion-text>
    </ion-item>
    <ion-item>
        <ion-text>
            {{ user.email }}
        </ion-text>
    </ion-item>
    <ion-item>
        <ion-text>
            {{ user.phone }}
        </ion-text>
    </ion-item>
</ion-content>
