<ion-header>
    <ion-toolbar>
      <ion-title>
            Listes d'Utilisateurs 
      </ion-title>
      <ion-buttons slot="end" [routerLink]="['/users/new']">
        <ion-button>
          <ion-icon name="add-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>


<ion-content>
    <ion-list *ngFor="let obj of users">
        <ion-item [routerLink]="['/users/',obj.hash]">{{obj.firstname}} {{obj.lastname}}</ion-item>
    </ion-list>
</ion-content>
